@charset "ISO-8859-1";
.timetable {
            border-collapse: collapse;
            width: 100%;
        }

        .timetable th, .timetable td {
            border: 1px solid #EEEDED;
            padding: 8px;
            text-align: center;
        }

        .timetable th {
            background-color: #0D1282;
            color: #FFFFFF;
        }

        .timetable tbody tr:nth-child(even) {
            background-color: #F0DE36;
        }

        .timetable tbody tr:nth-child(odd) {
            background-color: #D71313;
            color: #FFFFFF;
        }
        
     .facultyName    {
         width:30vh;
        }
        
        select{
        width:20vh;
        }