
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	    <link th:href="@{./CSS/SchedulePage.css}" rel="stylesheet" />
<!-- 	                    <script type="text/javascript" th:src="@{./JavaScript/SchedulePage.js}"></script>
 -->	                    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>$(document).ready(function() {
    $(".submit-btn").click(function() {
        var sName = $(this).closest('tr').find('.StaffName').text();
        var staffId = $("input[name='staffId']").val();
        var first = $("select[name='First']").val();
        var second = $("select[name='Second']").val();
        var third = $("select[name='Third']").val();
        var fourth = $("select[name='Fourth']").val();
        var fifth = $("select[name='Fifth']").val();
        var sixth = $("select[name='Sixth']").val();

         alert(sName);
        if (sName && staffId && first && second && third && fourth && fifth && sixth) {
            $.ajax({
                type: 'GET', 
                url: '/sheduleData/'+sName+'/' + staffId + '/' + first + '/' + second + '/' + third + '/' + fourth + '/' + fifth + '/' + sixth,
                success: function() {
                    alert(sName + ' sent the data to the controller...!');
                }
            });
        } else {
            alert('Data not sent to the controller.');
        }
    });
});

/* ---------------------------------------------- date calling -----------------------------------------*/
/* $(document).ready(function() {
  $(".todayDate").on('input', function() {
      // Fetch the date value from the input
     var selectedDate = $(this).closest('form').find('.todayDate').val();
      if (selectedDate) {
          $.ajax({
              type: 'GET',
              url: '/scheduleDate/' + selectedDate,
              success: function() {
                  alert(selectedDate + ' Date sent to the controller...!');
              }
          });
      } else {
          alert('Date not sent to the controller.');
      }
  });
});

-----------------------------   Button Calling  -----------------
$(document).ready(function() {
  $(".trigger-button").click(function() {
      var buttonId = $(this).attr("class");
      alert("Button with ID " + buttonId + " clicked!");
  });

  $("#triggerAll").click(function() {
      // Trigger the click event for all buttons with class 'trigger-button'
      $(".submit-btn").click();
  });
});
 */     
</script>

<title>Timetable Board</title>
<header th:replace="~{./index.html}"></header>


<div class="container-fluid mt-5">
    <table class="table timetable">
        <thead>
        <tr>
            <th>Faculty Name</th>
            <th style="background-color: #0D1282;">8:00 - 10:00</th>
            <th style="background-color: #0D1282;">10:00 - 12:00</th>
            <th style="background-color: #0D1282;">12:00 - 1:00</th>
            <th style="background-color: #0D1282;">1:00 - 2:00</th>
            <th style="background-color: #0D1282;">2:00 - 4:00</th>
            <th style="background-color: #0D1282;">4:00 - 6:00</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
      <tr th:each="faculty : ${faculties}">
            <td  th:text="${faculty.staffName}" class="StaffName"></td>
             <input type="hidden" name="staffId" th:value="${faculty.staffId}"/>
            </td>
           <td style="background-color: #EEEDED;">
    <select class="form-select" aria-label="Default select example" name="First">
        <option th:each="user : ${subject}" th:value="${user.subjectId}" th:text="${user.subjectName}"></option>
    </select>
</td>

            <td style="background-color: #EEEDED;">
    <select class="form-select" aria-label="Default select example" name="Second">
        <option th:each="user : ${subject}" th:value="${user.subjectId}" th:text="${user.subjectName}"></option>
    </select>
</td>
             <td style="background-color: #EEEDED;">
    <select class="form-select" aria-label="Default select example" name="Third">
        <option th:each="user : ${subject}" th:value="${user.subjectId}" th:text="${user.subjectName}"></option>
    </select>
</td>
            <td style="background-color: #EEEDED;">
    <select class="form-select" aria-label="Default select example" name="Fourth">
        <option th:each="user : ${subject}" th:value="${user.subjectId}" th:text="${user.subjectName}"></option>
    </select>
</td>
            <td style="background-color: #EEEDED;">
    <select class="form-select" aria-label="Default select example" name="Fifth">
        <option th:each="user : ${subject}" th:value="${user.subjectId}" th:text="${user.subjectName}"></option>
    </select>
</td>
             <td style="background-color: #EEEDED;">
    <select class="form-select" aria-label="Default select example" name="Sixth">
        <option th:each="user : ${subject}" th:value="${user.subjectId}" th:text="${user.subjectName}"></option>
    </select>
</td>
<td>
<button type="submit" class=" submit-btn btn btn-primary">go to someware</button>
</td>
        </tr>
        </tbody>
        </table>
        </div>
       